---
---
@use "base";

* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

svg {
  width: 36px;
  height: 36px;
}
