---
---
@use "base";



* {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.navbar {
  display: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

#loadOverlay {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
}

svg {
  width: 36px;
  height: 36px;
}
