<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

	<body id="pageBody" style="overflow: hidden;">
		<!-- Loading overlay -->
		{% include overlay.html %}

		<div id="pageInnerBody" style="visibility: hidden">
			<div class="container m-5 p-3">
				{% include nav.html %}
			</div>

			<div class="container post">
				<h1 class="display-3 text-start">{{ page.title }}</h1>
				<p class="text-muted">{{ page.date | date: "%Y-%m-%d" }}</p>

				<div class="text-start">
				{{ content }}
				</div>
			</div>

			{% include scripts.html %}
		</div>
	</body>
</html>
